# The postgres container creates this on first start. The API
# service (to be built) will connect wit the container using
# this variable. As long as the value matches your local .env,
# any value works
POSTGRES_USER=

# Password for POSTGRES_USER. Once again, any value works.
POSTGRES_PASSWORD=changeme

# Name of the database the postgres container creates on first start.
POSTGRES_DB=empathic
